<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.3//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<properties resource="db.properties" />

	<typeAliases>
		<typeAlias type="org.kayura.mybatis.type.JsonTypeHandler" alias="jsonTypeHandler" />
	</typeAliases>

	<!-- 数据库环境配置节 -->
	<environments default="dev">
		<environment id="dev">
			<!-- 配置该工程所使用的事务管理器类型，JDBC 为 JdbcTransactionFactory.class 的别名 -->
			<transactionManager type="JDBC" />
			<!-- 配置数据源类型, POOLED 为 PooledDataSourceFactory.class 的别名 -->
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driver}" />
				<property name="url" value="${jdbc.url}" />
				<property name="username" value="${jdbc.username}" />
				<property name="password" value="${jdbc.password}" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper class="org.kayura.bpm.storage.impl.mapper.DefineMapper" />
	</mappers>

</configuration>