<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.3//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kayura.bpm.storage.impl.mapper.InstanceMapper">

	<resultMap id="actorMap" type="org.kayura.bpm.types.Actor">
		<id property="id" column="Acotr_Id" />
		<result property="parentId" column="Parent_Id" />
		<result property="employeeId" column="Employee_Id" />
		<result property="displayName" column="DisplayName" />
		<result property="departmentId" column="Department_Id" />
		<result property="companyId" column="Company_Id" />
		<result property="positionId" column="Position_Id" />
	</resultMap>
	
	<!-- 过程实例 ProcessInstance -->

	<resultMap id="processInstanceMap" type="org.kayura.bpm.kernel.ProcessInstance">
		<id property="id" column="ProcessInstance_Id" />
		<result property="parentId" column="Parent_Id" />
		<result property="title" column="Title" />
		<result property="bizDataId" column="BizData_Id" />
		<result property="createdTime" column="CreatedTime" />
		<result property="completedTime" column="CompletedTime" />
		<result property="status" column="Status" />
		<association property="process" column="Process_Id"
			select="selectWorkflowProcessById" />
		<association property="creator" javaType="org.kayura.bpm.types.Actor"
			columnPrefix="Creator_" resultMap="actorMap" />
	</resultMap>
	
	<select id="getProcessInstanceById" parameterType="string" resultMap="processInstanceMap">
		SELECT
			t.ProcessInstance_Id,
			t.Parent_Id,
			t.Process_Id,
			t.Title,
			t.BizData_Id,
			t.CreatedTime,
			t.CompletedTime,
			t.Status,
			a.Actor_Id AS Creator_Actor_Id,
			a.Parent_Id AS Creator_Parent_Id,
			a.Employee_Id AS Creator_Employee_Id,
			e.DisplayName AS Creator_DisplayName,
			a.Department_Id AS Creator_Department_Id,
			a.Position_Id AS Creator_Position_Id
		FROM
			bpm_processinstance AS t
			INNER JOIN bpm_actors AS a ON a.Actor_Id = t.Creator_Id
			INNER JOIN bpm_employees AS e ON e.Employee_Id = a.Employee_Id
		WHERE t.ProcessInstance_Id = #{id}
	</select>
	
	<select id="processInstanceExists" parameterType="string" resultType="boolean">
		SELECT COUNT(1) > 0
		FROM Bpm_ProcessInstance t
		WHERE t.ProcessInstance_Id = #{id}
	</select>

	<insert id="insertProcessInstance" parameterType="org.kayura.bpm.kernel.ProcessInstance">
		INSERT Bpm_ProcessInstance (
			ProcessInstance_Id,
			Parent_Id,
			Process_Id,
			Title,
			BizData_Id,
			Creator_Id,
			CreatedTime,
			CompletedTime,
			Status
		) Values (
			#{id},
			#{parentId},
			#{process.id},
			#{title},
			#{bizDataId},
			#{creator.id},
			#{createdTime},
			#{completedTime},
			#{status}
		)
	</insert>
	
	<update id="updateProcessInstance" parameterType="org.kayura.bpm.kernel.ProcessInstance">
		UPDATE Bpm_ProcessInstance
		SET	Parent_Id = #{parentId},
			Process_Id = #{process.id},
			Title = #{title},
			BizData_Id = #{bizDataId},
			Creater_Id = #{creater.id},
			CreatedTime = #{createdTime},
			CompletedTime = #{completedTime},
			Status = #{status}
		WHERE ProcessInstance_Id = #{id}
	</update>
	
	<delete id="deleteProcessInstance" parameterType="string">
		DELETE FROM Bpm_ProcessInstance
		WHERE ProcessInstance_Id = #{id}
	</delete>
	
	<!--  ActivityInstance  -->
	
	<select id="insertActivityInstance" parameterType="org.kayura.bpm.kernel.ActivityInstance">
		INSERT Bpm_ActivityInstance (
			ActivityInstance_Id,
			ProcessInstance_Id,
			Activity_Id,
			DisplayName,
			Creator_Id,
			CreatedTime,
			CompletedTime,
			PreActInstance_Id,
			Status,
			ExecuteType
		) Values (
			#{id},
			#{processInstance.id},
			#{activity.id},
			#{displayName},
			#{creator.id},
			#{createdTime},
			#{completedTime},
			#{preActInstanceId},
			#{status},
			#{executeType}
		)
	</select>
	
	<select id="updateActivityInstance" parameterType="org.kayura.bpm.kernel.ActivityInstance">
		UPDATE Bpm_ActivityInstance
		SET ProcessInstance_Id = #{processInstance.id},
			Activity_Id = #{activity.id},
			DisplayName = #{displayName},
			Creator_Id = #{creator.id},
			CreatedTime = #{createdTime},
			CompletedTime = #{completedTime},
			PreActInstance_Id = #{preActInstanceId},
			Status = #{status},
			ExecuteType = #{executeType}
		WHERE ActivityInstance_Id = #{id},
	</select>
	
	<!-- WorkItems -->
	
	<insert id="insertWorkItem" parameterType="org.kayura.bpm.kernel.WorkItem">
		INSERT INTO bpm_workitems (
			WorkItem_Id,
			ActivityInstance_Id,
			<if test="parent != null ">Parent_Id,</if>
			Sender_Id,
			Owner_Id,
			Sn,
			Priority,
			AlarmTime,
			Depth,
			TaskType,
			Status
		) VALUES (
			#{id},
			#{activityInstance.id},
			<if test="parent != null ">#{parent.id},</if>
			#{sender.id},
			#{owner.id},
			#{sn},
			#{priority},
			#{alarmTime},
			#{depth},
			#{taskType},
			#{status}
		)
	</insert>

</mapper>