<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.3//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kayura.bpm.organize.impl.mapper.OrganizeMapper">

	<!--  >>>>>>>>>>>>>>>>>>>  Company  <<<<<<<<<<<<<<<<<<<< -->

	<resultMap id="companyMap" type="org.kayura.bpm.organize.models.Company">
		<id property="id" column="Company_Id" />
		<result property="parentId" column="Parent_Id"/>
		<result property="path" column="Path" />
		<result property="displayName" column="DisplayName" />
		<result property="status" column="Status" />
	</resultMap>
	
	<sql id="companyColumns">
		${alias}.Company_Id,
		${alias}.Parent_Id,
		${alias}.Path,
		${alias}.DisplayName,
		${alias}.Status
	</sql>

	<!-- 查询符合条件的部门集合 -->
	<select id="findCompanies" parameterType="map" resultMap="companyMap">
		SELECT
        	<include refid="companyColumns">
        	    <property name="alias" value="t"/>
        	</include>
		FROM Bpm_Companies t
		<where>
			<if test="parentId != null">
				<choose>
					<when test="parentId == 'root' ">
						AND ( t.Parent_Id IS NULL )
					</when>
					<otherwise>
						AND ( t.Parent_Id = #{parentId} )
					</otherwise>
				</choose>
			</if>
			<if test="keyword != null">
				AND ( t.DisplayName LIKE '%${keyword}%' )
			</if>
			<if test="status != null">
				AND ( t.Status = #{status} )
			</if>
		</where>
	</select>
	
	<!-- 获取单个部门信息 -->
	<select id="getCompanyById" parameterType="string" resultMap="companyMap">
		SELECT
        	<include refid="companyColumns">
        	    <property name="alias" value="t"/>
        	</include>
		FROM Bpm_Companies t
		WHERE t.Company_Id = #{id}
	</select>
	
	<!--  >>>>>>>>>>>>>>>>>>>  Department  <<<<<<<<<<<<<<<<<<<< -->
	
	<resultMap id="departmentMap" type="org.kayura.bpm.organize.models.Department">
		<id property="id" column="Department_Id" />
		<result property="parentId" column="Parent_Id"/>
		<result property="companyId" column="Company_Id"/>
		<result property="path" column="Path" />
		<result property="displayName" column="DisplayName" />
		<result property="status" column="Status" />
	</resultMap>

	<sql id="departmentColumns">
		${alias}.Department_Id,
		${alias}.Parent_Id,
		${alias}.Company_Id,
		${alias}.Path,
		${alias}.DisplayName,
		${alias}.Status
	</sql>
	
	<!-- 查询符合条件的公司集合. -->
	<select id="findDepartments" parameterType="map" resultMap="departmentMap">
		SELECT 
        	<include refid="departmentColumns">
        	    <property name="alias" value="t"/>
        	</include>
		FROM bpm_departments t
		<where>
			<if test="companyId != null">
				AND ( t.Company_Id = #{companyId} )
			</if>
			<if test="parentId != null">
				AND ( t.Parent_Id = #{parentId} )
			</if>
			<if test="keyword != null">
				AND ( t.DisplayName LIKE '%${keyword}%' )
			</if>
			<if test="status != null">
				AND ( t.Status = #{status} )
			</if>
		</where>
	</select>
	
	<!-- 获取单独公司信息. -->
	<select id="getDepartmentById" parameterType="string" resultMap="departmentMap">
		SELECT 
        	<include refid="departmentColumns">
        	    <property name="alias" value="t"/>
        	</include>
		FROM bpm_departments t
		WHERE t.Company_Id = #{id}
	</select>
	
	<!--  >>>>>>>>>>>>>>>>>>>  Position  <<<<<<<<<<<<<<<<<<<< -->
	
	<resultMap id="positionMap" type="org.kayura.bpm.organize.models.Position">
		<id property="id" column="Position_Id" />
		<result property="departmentId" column="Department_Id"/>
		<result property="displayName" column="DisplayName" />
		<result property="status" column="Status" />
	</resultMap>
	
	<select id="findPositions" parameterType="map" resultMap="positionMap">
		SELECT 
			t.Position_Id,
			t.Department_Id,
			t.DisplayName,
			t.Status
		FROM Bpm_Position t
		<where>
			<if test="departmentId != null">
				AND ( t.Department_Id = #{departmentId} )
			</if>
			<if test="keyword != null">
				AND ( t.DisplayName LIKE '%${keyword}%' )
			</if>
			<if test="status != null">
				AND ( t.Status = #{status} )
			</if>
		</where>
	</select>

	<!--  >>>>>>>>>>>>>>>>>>>  Actors  <<<<<<<<<<<<<<<<<<<< -->
	
	<resultMap id="actorMap" type="org.kayura.bpm.types.Actor">
		<id property="id" column="Actor_Id" />
		<result property="parentId" column="Parent_Id" />
		<result property="employeeId" column="Employee_Id" />
		<result property="displayName" column="DisplayName" />
		<result property="departmentId" column="Department_Id" />
		<result property="positionId" column="Position_Id" />
	</resultMap>

	<select id="findActorsByOrganize" parameterType="map" resultMap="actorMap">
		SELECT
			t.Actor_Id,
			t.Parent_Id,
			t.Employee_Id,
			t.DisplayName,
			t.Department_Id,
			t.Position_Id
		FROM
			bpm_actors AS t
			INNER JOIN bpm_employees AS e ON e.Employee_Id = t.Employee_Id
			INNER JOIN bpm_departments AS d ON d.Department_Id = t.Department_Id
			INNER JOIN bpm_companies AS c ON c.Company_Id = d.Company_Id
			INNER JOIN bpm_positions AS p ON p.Position_Id = t.Position_Id
		<where>
			<if test="status != null">
				AND ( e.Status = #{status} AND d.Status = #{status} 
				AND   c.Status = #{status} AND p.Status = #{status} )
			</if>
			<if test="companyPath != null">
				AND ( c.Path LIKE '${companyPath}%' )
			</if>
			<if test="departmentPath != null">
				AND ( d.Path LIKE '${departmentPath}%' )
			</if>
			<if test="positionId != null">
				AND ( t.Position_Id = #{positionId} )
			</if>
		</where>
	</select>

	<select id="findActorsByRole" parameterType="map" resultMap="actorMap">
		SELECT
			t.Actor_Id,
			t.Parent_Id,
			t.Employee_Id,
			t.DisplayName,
			t.Department_Id,
			t.Position_Id
		FROM
			bpm_actors AS t
			INNER JOIN bpm_employees AS e ON e.Employee_Id = t.Employee_Id
			INNER JOIN bpm_roleactor AS ra ON ra.Actor_Id = t.Actor_Id
			INNER JOIN bpm_roles AS r ON r.Role_Id = ra.Role_Id
		<where>
			<if test="status != null">
				AND ( e.Status = #{status} AND r.Status = #{status} )
			</if>
			<if test="rolePath != null">
				AND ( r.Path LIKE '${rolePath}%' )
			</if>
		</where>
	</select>
	
	<select id="findActorsByActor" parameterType="map" resultMap="actorMap">
		SELECT
			t.Actor_Id,
			t.Parent_Id,
			t.Employee_Id,
			t.DisplayName,
			t.Department_Id,
			t.Position_Id
		FROM
			bpm_actors AS t
		<where>
			<choose>
				<when test="actorId != null">
					AND ( t.Actor_Id = #{actorId} )
				</when>
				<when test="parentId != null">
					AND ( t.Parent_Id = #{parentId} )				
				</when>
				<otherwise>
					<if test="employeeId != null">
						AND ( t.Employee_Id = #{employeeId} )
					</if>
					<if test="departmentId != null">
						AND ( t.Department_Id = #{departmentId} )
					</if>
					<if test="positionId != null">
						AND ( t.Position_Id = #{positionId} )
					</if>	
				</otherwise>
			</choose>
		</where>
	</select>

	<select id="getActorById" parameterType="string" resultMap="actorMap">
		SELECT
			t.Actor_Id,
			t.Parent_Id,
			t.Employee_Id,
			t.DisplayName,
			t.Department_Id,
			t.Position_Id
		FROM 
			bpm_actors AS t
		WHERE ( t.Actor_Id = #{actorId} )
	</select>

	<select id="findActorsByIds" parameterType="list" resultMap="actorMap">
		SELECT
			t.Actor_Id,
			t.Parent_Id,
			t.Employee_Id,
			t.DisplayName,
			t.Department_Id,
			t.Position_Id
		FROM 
			bpm_actors AS t
			INNER JOIN bpm_departments AS d ON d.Department_Id = t.Department_Id
			INNER JOIN bpm_employees AS e ON e.Employee_Id = t.Employee_Id
		WHERE t.Actor_Id  IN
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>
	
	<!--  >>>>>>>>>>>>>>>>>>>  Role  <<<<<<<<<<<<<<<<<<<< -->
	
	<resultMap id="roleMap" type="org.kayura.bpm.organize.models.Role">
		<id property="id" column="Role_Id" />
		<result property="parentId" column="Parent_Id"/>
		<result property="displayName" column="DisplayName" />
		<result property="status" column="Status" />
	</resultMap>

	<select id="getRoleById" parameterType="string" resultMap="roleMap">
		SELECT 
			t.Role_Id,
			t.Parent_Id,
			t.DisplayName,
			t.Status
		FROM Bpm_Roles t
		WHERE t.Role_Id = #{id}
	</select>
	
	<select id="findRoles" parameterType="map" resultMap="roleMap">
		SELECT 
			t.Role_Id,
			t.Parent_Id,
			t.DisplayName,
			t.Status
		FROM Bpm_Roles t
		<where>
			<if test="parentId != null">
				AND ( t.Parent_Id = #{parentId} )
			</if>
			<if test="keyword != null">
				AND ( t.DisplayName LIKE '%${keyword}%' )
			</if>
			<if test="status != null">
				AND ( t.Status = #{status} )
			</if>
		</where>
	</select>


</mapper>